.drag {
	cursor: pointer;
	font-size: 25px;
	padding: 0 10px;
	float: left;
}
.draggable{
	width: 122px;
	display: block;
	position: relative;
}
.in{
	width: 80px;
}
#cuadro{
	width: 500px;
	height: 300px;
	border: 1px solid black;
	display: block;
	position: relative;
}
.linea{
	width: 1px;
	height: 305px;
	border: 1px solid black;
}

#arriba{
	width: calc(100% + 2px);
	height: 50px;
	position: absolute;
	top: -25px;
	left: -1px;
	/*border: 1px solid black;*/
}

#abajo{
	width: calc(100% + 2px);
	height: 50px;
	position: absolute;
	top: 273px;
	left: -1px;
	/*border: 1px solid black;*/
}
.paralelo{
	width: 60px;
	height: 310px;
	position: absolute;
	top: 22px;
	left: -28px;
	border: 1px solid black;
	z-index: 1;
}