.drag {
	cursor: pointer;
	font-size: 25px;
	padding: 0 10px;
	float: left;
}
.draggable{
	width: 122px;
	display: block;
	position: relative;
}
.in{
	width: 80px;
}
#cuadro{
	width: 700px;
	height: 300px;
	border: 1px solid black;
	display: block;
	position: relative;
}
.linea{
	width: 1px;
	height: 305px;
	border: 1px solid black;
}
.paralelo{
	width: 60px;
	height: 310px;
	position: absolute;
	top: 22px;
	left: -28px;
	/*border: 1px solid black;*/
	z-index: 1;
}
#v {
	position: absolute;
	top: 135px;
	left: -80px;*/
}
.c-paralelo input{
	box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}