.drag {
	cursor: pointer;
	font-size: 25px;
	padding: 0 10px;
	float: left;
}
.draggable{
	width: 122px;
	display: block;
	position: relative;
}
.in{
	width: 80px;
}
.cuadro{
	width: 500px;
	height: 300px;
	border: 1px solid black;
	display: block;
	position: relative;
}